<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css" >
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
</head>
<body>

   {{>header}}
   <h2>{{helptext}}</h2>
      {{>footer}}

</body>



</html>